In [9]:
import pandas as pd

In [10]:
prefix= "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc"
url = f"{prefix}/taxi_zone_lookup.csv"

In [11]:
df = pd.read_csv(url)

In [12]:
df.dtypes

LocationID      int64
Borough           str
Zone              str
service_zone      str
dtype: object

In [16]:
!uv add sqlalchemy psycopg2-binary

Resolved 118 packages in 0.82ms
Audited 9 packages in 0.29ms

In [21]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [22]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [23]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [24]:
df.head(n=0)

Empty DataFrame
Columns: [LocationID, Borough, Zone, service_zone]
Index: []

In [32]:
from tqdm.auto import tqdm  
first = True

for df_chunk in df_iter:

    if first:
        # Create table schema (no data)
        df_chunk.head(0).to_sql(
            name="yellow_taxi_data",
            con=engine,
            if_exists="replace"
        )
        first = False
        print("Table created")

    # Insert chunk
    df_chunk.to_sql(
        name="yellow_taxi_data",
        con=engine,
        if_exists="append"
    )

    print("Inserted:", len(df_chunk))